* {
  padding: 0;
  margin: 0px 0px 0px 0px;
  box-sizing: border-box;
}
input {
  width: 100%;
}
body {
  margin: 0px 0px 0px 0px;

  background-color: whitesmoke;
  min-height: 100vh;
  position: relative;
}

.card {
  margin-top: 10px;
  width: 355px;
  height: 199px;

}

.card p {
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.card img {
  width: 100%;
}

.dis {
  padding-top: 10px;
  padding-bottom: 72px;
 
}

.subDis {

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  list-style: none;
}

ol {
  padding: 0px;
  margin-right: 1%;
  margin-left: 1%;
}

#textLoading {
  width: 100%;
  text-align: center;
}

#textFooterImage {
  text-align: justify;

  overflow-wrap: break-word;
}

footer {
  font-family: ui-rounded;
  color: whitesmoke;
  background: #101124;
  text-align: center;
  width: 100%;
  height: 61px;
  bottom: 0;
  position: absolute;
  padding: 16px;
}



a {
  color: whitesmoke;
}

a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E %3Cpath fill='none' stroke='white' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: 0.3em;
  text-decoration: none;
  color: white;
}
